header {
  background-color: #2E5986;
  color: #FFFFFF;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
   }

main{
  background-color: #FFFFFF;
  color: #2E5986; 
  max-widch: 800px;
  margin: 0 auto;
  padding: 16px;
   }
article{
  display: center; 
   }

img{
  width: 80px;
  height: 80px;
   }
.artigo-autor{
  font-weight: bold;
   }